# Cleaning Data with Pandas Exercises

For the exercises, you will be cleaning data in the Women's Clothing E-Commerce Reviews dataset.

**Dataset Information:**
- **Dataset Name:** Women's Clothing E-Commerce Reviews
- **File:** `Womens Clothing E-Commerce Reviews.csv`
- **Source:** This dataset contains reviews written by customers and includes features like ratings, review text, product categories, and customer information.

To start cleaning data, we first need to create a dataframe from the CSV and print out any relevant info to make sure our dataframe is ready to go.

In [46]:
# Import pandas and any other libraries you need here.
import pandas as pd


# Create a new dataframe from your CSV
df = pd.read_csv("Womens Clothing E-Commerce Reviews.csv")
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [47]:
# Print out any information you need to understand your dataframe
df.info()
df.describe()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

Unnamed: 0                    0
Clothing ID                   0
Age                           0
Title                      3810
Review Text                 845
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                14
Department Name              14
Class Name                   14
dtype: int64

## Missing Data

Try out different methods to locate and resolve missing data.

In [48]:
# Try to find some missing data!

#column
df.isnull().sum()

#percentage
(df.isnull().mean() * 100).round(2)

#rows
df[df.isnull().any(axis=1)].head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
11,11,1095,39,NaN,This dress is perfection! so pretty and flatte...,5,1,2,General Petite,Dresses,Dresses
30,30,1060,33,NaN,Beautifully made pants and on trend with the f...,5,1,0,General Petite,Bottoms,Pants
36,36,1002,29,NaN,This is a comfortable skirt that can span seas...,4,1,5,General,Bottoms,Skirts

Did you find any missing data? What things worked well for you and what did not?

In [49]:
# Respond to the above questions here:

#I found missing data in the "title" column which show NaN values. 
#Im not able to view the other columns and rows to see if any other data is missing

## Irregular Data

With missing data out of the way, turn your attention to any outliers. Just as we did for missing data, we first need to detect the outliers.

In [50]:
# Keep an eye out for outliers!

df.describe()
df.sort_values('Age', ascending=False).head()
df.sort_values('Positive Feedback Count', ascending=False).head()
df.sort_values('Age').head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
8858,8858,1094,18,Love,I bought this dress for my engagement photo sh...,5,1,0,General,Dresses,Dresses
22364,22364,1072,18,I get so many compliments,I found this dress on sale in store and i usua...,4,1,0,General,Dresses,Dresses
22390,22390,868,18,"A little big, but so comfortable!",This shirt is incredibly comfortable. the mate...,4,1,0,General,Tops,Knits
19704,19704,1008,18,Stunning,This skirt is absolutely beautiful and is a go...,5,1,1,General,Bottoms,Skirts
8308,8308,868,19,Super cute top,I really love the style of this top. it's a gr...,4,1,3,General,Tops,Knits

What techniques helped you find outliers? In your opinion, what about the techniques you used made them effective?

In [51]:
# Make your notes here:

#I used the statistical and sorting techniques to look at min, max and quartile ranges in the numeric column.
#This allowed me to see what values are high or low, unnecessarily. I also sorted values in the age and 
#positive feedback court columns looking for outliers as well.

## Unnecessary Data

Unnecessary data could be irrelevant to your analysis or a duplicate column. Check out the dataset to see if there is any unnecessary data.

In [52]:
# Look out for unnecessary data!

df.columns
df.nunique()
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

Did you find any unnecessary data in your dataset? How did you handle it?

In [53]:
# Make your notes here.

#The "unnamed" column doesnt seem necessary becuase it does not give any valuable information about the 
#customer. With that said, I would just remove the column

## Inconsistent Data

Inconsistent data is likely due to inconsistent formatting and can be addressed by re-formatting all values in a column or row.

In [54]:
# Look out for inconsistent data!

df['Division Name'].unique()
df['Department Name'].unique()
df['Class Name'].unique()

array(['Intimates', 'Dresses', 'Pants', 'Blouses', 'Knits', 'Outerwear',
       'Lounge', 'Sweaters', 'Skirts', 'Fine gauge', 'Sleep', 'Jackets',
       'Swim', 'Trend', 'Jeans', 'Legwear', 'Shorts', 'Layering',
       'Casual bottoms', nan, 'Chemises'], dtype=object)

Did you find any inconsistent data? What did you do to clean it?

In [55]:
# Make your notes here!

#I noticed that "Fine gauge & Cascual bottoms" does not have a Capitol letter in the second word
#There is also a "nan" value applying miss data